html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;

}

main {
    padding: 15px 0px 40px 0px;
}

footer {
    padding-top: 24px;
    padding-right: 0px;
    padding-bottom: 24px;
    padding-left: 20px;
    background-color: #B4CF66;
}

img {
    height: 200px;
}

nav {
    background-color: #FF5A33;
    border-bottom: 1px solid black;
    padding: 16px;
}

.veggie-tacos {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15%;
}

#main-p {
    color: white;
    font-size: 20px;
}

a:link {
    text-decoration: none;
    color: green;
}

a:visited {
    text-decoration: none;
    color: green;
}

a:hover {
    text-decoration: none;
    color: green;
}

a:active {
    text-decoration: none;
    color: green;
}

.table tr:nth-child(even) {
background-color: lightgrey;
}
